{% extends "base.html" %}
{% block head %}
     <script src="{{ url_for("static",filename="echarts.common.min.js") }}"></script>
    {% endblock %}
{% block content %}
<div id="container" style="height: 100%"></div>
<script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
app.title = '招聘职位工作经验要求';
option = {
    xAxis: {
        type: 'category',
        data: ['5年以上', '3-5年', '1-2年', '不限']
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: [{{ g.five_year }},{{ g.three_year }},{{ g.one_year }},{{ g.unrestricted }}],
        type: 'bar'
    }]
};
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
</script>>
{% endblock %}