<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>网络爬虫招聘信息检索系统密码找回</title>

<link rel="stylesheet" href="{{ url_for("static",filename="login/css/style.css") }}" />
<style type="text/css">
a:link,a:visited{
 text-decoration:none;  /*超链接无下划线*/
}
a:hover{
 text-decoration:underline;  /*鼠标放上去有下划线*/
}
</style>
<body>

<div class="login-container">
	<h1>找回密码</h1>

	<form  method="post" >
		<div>
			<input type="text" name="email" class="username" placeholder="请输入注册邮箱" autocomplete="off"/>
		</div>
		<button id="submit" type="submit">提交</button>
	</form>
<div>
    {% if message %}
            <p style="text-align: center"  class="text-danger">{{ message }}</p>
        {% endif %}
    </div>
</div>

<script src="{{ url_for("static",filename='login/js/jquery.min.js') }}"></script>
<script src="{{ url_for("static",filename='login/js/common.js') }}"></script>
<!--背景图片自动更换-->
<script src="{{ url_for("static",filename='login/js/supersized.3.2.7.min.js') }}"></script>
<script src="{{ url_for("static",filename='login/js/supersized-init.js') }}"></script>
<!--表单验证-->
<script src="{{ url_for("static",filename='login/js/jquery.validate.min.js') }}"></script>

</body>
</html>